<div class="container">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 box">       
            <h3 class="text-center" style="color:#173E43;"><b>Verify Your Credentials {{ id }}</b></h3>
            <form (ngSubmit)="Verify(f)" #f="ngForm" class="myform">
                <div *ngIf="!resend">
                    <div class="form-group">
                        <label for="otp">Enter OTP</label>
                        <input
                        type="text" 
                        id="otp" 
                        name="otp"
                        placeholder="OTP"
                        class="form-control"
                        ngModel
                        required
                        #verify="ngModel">
                        <span 
                        class="help-block"
                        *ngIf="!verify.valid && verify.touched"
                        style="color:red;">Enter valid otp</span>
                        <div
                        class="help-block"
                        style="color:blue;">OTP will expire in <span style="color:red;">{{ minute }} : {{ seconds }}</span> minutes</div>
                    </div>
                    <button 
                    type="submit" 
                    class="btn mybutton"
                    [disabled]="!f.valid" style="margin-right : 10px;">Verify
                    </button>
                </div>
                <div *ngIf="resend">
                    <button
                    (click)="onResend()"  
                    class="btn resend"
                    >Resend OTP</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>