.padding
{
    padding: 3%;
    background:white ;
    
}
.details
{
    border-radius:3%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color:#8BC23A;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
    font-weight:700;

}

.detail{

    margin:5% 0%;
}
.back
{

 
   background-repeat: no-repeat ;
    
}
.center
{
    text-align: center;
}
.image
{
    
    border-radius: 50% 50%;

    border:2px solid #8BC23A;
    width:150px;
    height:150px;
    
}
.name
{
    color: #048739;
}
.background
{
    padding-top:7%;
     background: url("/assets/images/bg.svg");
     background-repeat:no-repeat;
    padding-bottom: 10%;
}
.width
{
  margin:20px;
  text-align:center;
  padding:1% 3%;
  border:2px solid;
  background:  white;
  border:   1px solid #8BC23A ;
  color:#048739;
  border-radius: 50px 50px;   
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  cursor: pointer;
 
   
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   transition: box-shadow 0.3s;
}

.width:hover{

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
