
 <div class="background " >

    <div class="row">
   <div class="col-lg-1"></div>
   
   <div class="col-lg-5 center">
  <img class="image"src = "{{image}}">
   </div>

   <!-- <div class="col-lg-1"></div> -->
   <div class="col-lg-4 ">
     
    <div class="details padding back" >
      <div class="detail"> <span class="name">  Name  </span>: {{Doctor.name}} </div>
      <div class="detail"> <span class="name">  Specialist of  </span>: {{Category}}</div>
    {{Doctor.Description}}
      <div class="width" (click)="appoinment()"> Apply for Appoinment</div>
      
 
   </div>
   </div>
     <div class="col-lg-2"></div> 
    </div>

 </div> 