<div *ngIf="show||Location == Hospital.city">

<div class="col-xs-3 background padding">
    
      <div class="shadow">

              <img class="image" src ="{{image}}">
            
              <div class="font">


               <div> <span class="name"> Hospital : </span> <span class="ans"> {{Hospital.hospital_name}} </span></div>
                
               <div> <span class="name"> Location :</span><span class="ans"> {{Hospital.city}}</span>  </div>

               <div class="button center">
 
                        <button *ngIf =route (click)="getDoctors()" class="btn"> View Profile</button>                
                        <button *ngIf =!route routerLink="/login" class="btn"> View Profile</button>                

               </div>
            


              
                 



              


      </div>

</div>      

</div>


</div>