<div class="col-xs-3 background padding">
    
      <div class="shadow">

              <img class="image" src ="{{Hospital.image}}">
            
              <div class="font">


               <div> <span> Hospital Name : </span> <span> {{Hospital.name}} </span></div>
                
               <div> <span> Hospital Location :</span><span> {{Hospital.location}}</span>  </div>

               <div class="button center">
 
                        <button routerLink='/doctor/{{index}}' class="btn">Apply for Appointment</button>                

               </div>
            


              
                 



              


      </div>

</div>      


