.background {
    position:sticky;
    top:0;     
    height:100vh;
    
    width:100%;
    /* background:rgba(0,0,0,0.5); */
    z-index:12;
 
}


.success
{
    color: #273746  ;
    letter-spacing: 2px;
    font-size:100%;
    font-weight: 800;

    
}
.warning
{
    color:#273746  ;
    letter-spacing: 2px;
    font-size:105%;
    font-weight: 500;

}
.block
{
  display: none;
}
img
{
    width:17%;
}
.center
{
    text-align:center;
    padding-top:3%;
}
.popups,.popups2
{
  width:300px;
  height:230px;
  background:url('/assets/images/success.svg') ;
  
  position:absolute;
  top:30%;
  left:40%;
  background-position:center;
  background-size:cover ;
  z-index:1;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  
  border-radius:5%;
   
   animation:popup 0.8s 1;
   
}

.popups2{
  background:url('/assets/images/error.svg') ;

}

@keyframes popup{
    from{
        transform:scale(0,0)
    }
    to{
  transform: scale(1,1);
        
    }
}
.margin
{
    margin-bottom:30px;
}

.center{
    text-align: center;
}



.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #048739;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
  position:absolute;
    top:45%;
    left:45%;
    transform:translate(-50%,-50%);
    z-index:2;
} 

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.btn {
    color:#45B39D ;
    font-size:80%;
    /* margin:20px 15px; */
    border:1px solid #58D68D;
    
    background-color: transparent;
    letter-spacing:2px;
    border-radius: 3%;
    font-size: 120%;
    font-weight: 700;

    padding:6px 12px;
    position:relative;
    overflow:hidden;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
  }
  .btn:hover {
    color:white;
    transition:0.1s;
  }
  .btn:focus {
    outline:none;
  }
  .btn::before {
    content:'';
    position: absolute;
    left:0;
    width:100%;
    height:0%;
    background:#58D68D ;
    z-index:-1;
    transition:1s;
    top:0;
    border-radius: 0 0 50% 50%;
  }
  .btn:hover::before {
    height:180%;
  }
     
  .btn2 {
    color:#EC7063 ;
    font-size:80%;
    /* margin:20px 15px; */
    border:1px solid#EC7063;
    border-radius: 3%;
    
    background-color: transparent;
    letter-spacing:2px;
    
    font-size: 120%;
    font-weight: 700;

    padding:6px 12px;
    position:relative;
    overflow:hidden;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
  }
  .btn2:hover {
    color:white;
    transition:0.1s;
  }
  .btn2:focus {
    outline:none;
  }
  .btn2::before {
    content:'';
    position: absolute;
    left:0;
    width:100%;
    height:0%;
    background:#EC7063;
    z-index:-1;
    transition:1s;
    top:0;
    border-radius: 0 0 50% 50%;
  }
  .btn2:hover::before {
    height:180%;
  }