.background {
    position: sticky;
  top: 0;
    height:100vh;
    width:100%;
    background:rgba(0,0,0,0.5);
    z-index:2;
 
}
.success
{
    color: #0B5345 ;
    letter-spacing: 2px;
    font-size:130%;
    font-weight: 800;

    
}
.warning
{
    color:#EC7063 ;
    letter-spacing: 2px;
    font-size:80%;
    font-weight: 800;

}
img
{
    width:17%;
}
.center
{
    text-align:center;
    padding-top:3%;
}
.popups
{
  width:300px;
  height:300px;
  background:url('/assets/images/error.svg') ;
  /* position:fixed; */
  position:absolute;
  top:30%;
  left:40%;
  background-position:center;
  background-size:cover ;
  z-index:1;
  
  border-radius:5%;
   box-shadow:0px 0px 2px  1px  #D0D3D4;
   animation:popup 0.8s 1;
   
}
@keyframes popup{
    from{
        transform:scale(0,0)
    }
    to{
  transform: scale(1,1);
        
    }
}
.margin
{
    margin-bottom:150px;
}

.center{
    text-align: center;
}
/* .loader {
    width:100px;
    height:200px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:2;
}
.loader-circle {
    width:calc(100% - 0.000001px);
    height:calc(100% - 0.000001px);
    border:8px solid #8BC23A;
    border-top:8px solid #048739;
    border-radius:50%;
    animation:rotate 5s linear infinite;
}
@keyframes rotate {
    100%{transform:rotate(360deg);}
} */
/* Loader */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #048739;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position:absolute;
    top:45%;
    left:45%;
    transform:translate(-50%,-50%);
    z-index:2;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.btn {
    color:#45B39D ;
    font-size:80%;
    /* margin:20px 15px; */
    border:1px solid #58D68D;
    
    background-color: transparent;
    letter-spacing:2px;
    
    padding:6px 12px;
    position:relative;
    overflow:hidden;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
  }
  .btn:hover {
    color:white;
    transition:0.1s;
  }
  .btn:focus {
    outline:none;
  }
  .btn::before {
    content:'';
    position: absolute;
    left:0;
    width:100%;
    height:0%;
    background:#58D68D ;
    z-index:-1;
    transition:1s;
    top:0;
    border-radius: 0 0 50% 50%;
  }
  .btn:hover::before {
    height:180%;
  }