.padding
{
   padding: 10px;

  
    
}



.width
{
    color:#117A65;
    text-align: center;
    width: 120px;
    height: 120px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14%;
    background:#F7F9F9 ;
    cursor: pointer; 
    transition: box-shadow 0.3s;
    padding-top: 17%;


}
.width:hover{


    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
@media only screen and (max-width: 766px) {
    
  .width
  {
    width: 105px;
    height:105px;
  }   
}
@media only screen and (max-width: 1295px) {
    
    .width
    {
      width: 110px;
      height:110px;
    }   
  }