/* .padding
{
   padding: 10px;

  
    
}



.width
{
    color:#117A65;
    text-align: center;
    width: 120px;
    height: 120px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 14%;
    background:#F7F9F9 ;
    cursor: pointer; 
    transition: box-shadow 0.3s;
    padding-top: 17%;


}
.width:hover{


    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
@media only screen and (max-width: 766px) {
    
  .width
  {
    width: 105px;
    height:105px;
  }   
}
@media only screen and (max-width: 1295px) {
    
    .width
    {
      width: 110px;
      height:110px;
    }   
  } */

  .width
  {
    margin:20px;
    text-align:center;
    padding:1% 3%;
    border:2px solid;
    background:  white;
    border:   1px solid #8BC23A ;
    color:#048739;
    border-radius: 50px 50px;   
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-weight: 800;
   
     
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
     transition: box-shadow 0.3s;
  }
  
  .width:hover{

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
   