<div class="col-xs-3 background padding">
    
    <div class="shadow">

            <img class="image" src ="{{image}}">
          
            <div class="font">


             <div class="padding"> <span class="name"> Doctor Name : </span> <span class="ans"> {{Doctor.name}} </span></div>
              
             <div class="padding"> <span class="name"> Specilist Of :</span><span class="ans"> {{Doctor.Specialization}}</span>  </div>

             <div class="button center">

                      <button (click)="profile()" class="btn"> View Profile</button>                

             </div>
          


            
               



            


    </div>

</div>      


