<div class="col-xs-3 background padding">
    
    <div class="shadow">

            <img class="image" src ="{{Doctor.image}}">
          
            <div class="font">


             <div> <span> Doctor Name : </span> <span> {{Doctor.name}} </span></div>
              
             <div> <span> Specitlity :</span><span> {{Doctor.specitlity}}</span>  </div>

             <div class="button center">

                      <button routerLink='/doctor/1' class="btn">Apply for Appointment</button>                

             </div>
          


            
               



            


    </div>

</div>      


