<div class="col-xs-3 background padding">
    
    <div class="shadow">

            <img class="image" src ="{{image}}">
          
            <div class="font">


             <div> <span> Doctor Name : </span> <span> {{Doctor.name}} </span></div>
              
             <div> <span> Specilist Of :</span><span> {{Category}}</span>  </div>

             <div class="button center">

                      <button (click)="profile()" class="btn"> View Profile</button>                

             </div>
          


            
               



            


    </div>

</div>      


