.sticky-top {
    /* position:fixed; */
    /* top:0; */
    background : #ffffff;
    width:100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    /* transition:all 0.5s ease; */
    z-index:5;
}
.height
{
    height:50px;
}
.login {
    margin:0px 15px;
    border:2px solid #58D68D;
    font-family: 'Poppins', sans-serif;
    background-color: transparent;
    letter-spacing:2px;
    color:#173E43;
    padding:6px 12px;
    position:relative;
    overflow:hidden;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
}
.login:hover {
    color:white;
    transition:0.1s;
}
.login:focus {
    outline:none;
}
.login::before {
    content:'';
    position: absolute;
    left:0;
    width:100%;
    height:0%;
    background: #58D68D ;
    z-index:-1;
    transition:1s;
    top:0;
    border-radius: 0 0 50% 50%;
}
.login:hover::before {
    height:180%;
}
