

<img class="image1" src="/assets/images/Home.png">
<div class="row background2">

<div class="col-md-6 center padding">

    <div class="box">
        <div class="heading1"> FIND YOUR SPECILIST</div>
        <div class="heading2">Now its so easy to find your specilist</div>
    </div>
</div>

<div class="col-md-6 center ">

    <img class="image" src="/assets/images/part2.png">
</div>

</div>

<div>

<div class="center padding-3">

    <div class="heading2 ">
        OWNING A HOSPITAL ?
    </div>

    <div class="row">
        <div class="col-md-6 center padding">
            <div class="box">
                <div class="heading1"> Let patients reach you first.
                    Register your hospital and
                    let us do the rest of the job.</div>
                <div class="center" >

 
                        <button routerLink='/doctor/{{index}}' class="btn">Register Now</button>                

                           

                </div>
            </div>
        </div>

        <div class="col-md-6 center">
         
            <img class="image" src="/assets/images/ownhospital.png">
        </div>
    </div>
</div>


</div>

<div>

    <div class="row">

        <div class="col-md-6 center">
            <img class="image" src="/assets/images/hospital.png">
        </div>

        <div class="col-md-6 center padding">
            <div class="box">
                <div class="heading1"> FIND HOSPITALS NEAR YOU</div>
                <div class="heading2">Easily search among nearby hospitals
                    and get to know about the specialist
                    and facilities provided by the hospital</div>
            </div>
        </div>



    </div>



</div>
<div class="row background height">

    <div class="col-md-6 center padding">
    
        <div class="box">
            <div class="heading1"> GET THE FASTEST SERVICE</div>
            <div class="heading2">Get the fastest service by locating the
                most nearest hospital and the 
                specialist available there.</div>
        </div>
    </div>
    
    <div class="col-md-6 center ">
    
        <img class="image" src="/assets/images/nearby.png">
    </div>
    
    </div>

    <div class="row background2">

        <div class="col-md-6 center">
            <img class="image" src="/assets/images/appointment.png">
        </div>

        <div class="col-md-6 center padding">
            <div class="box">
                <div class="heading1">GET THE APPOINTMENT</div>
                <div class="heading2">Get the appointment according to 
                    your convenience and to your
                    preferred specialist at hospital.</div>
            </div>
        </div>



    </div>