.image
{
    height:auto;
    width:70%;
}
.image1{
    width: 100%;
    height: auto;
}
.center
{
    text-align: center;
}

.col-md-6
{
    padding-right: 0px;
}
.box
{

    padding:5%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    
    border-radius:2%;

}
.heading1
{
    color: #048739;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 120%;
}
.height
{
    height: 500px;
}

.heading2
{
    color: #8BC23A;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 120%;

}
.padding
{
    padding-top:15% ;
    padding-left: 10%;
    padding-right: 10%;

}

.padding3
{
    padding-top:10%;
    padding-left: 10%;
    padding-right: 10%;
}

.padding-3
{
    padding-top: 3%;
}

.padding2
{
    padding-top:6%;
    padding-bottom:6% ;
}
.background2
{
     background: #F4F4F4;
}
.background{
     background: url('/assets/images/background.png')
}

.btn {
    color:#45B39D ;
    font-size:18px;
    margin:20px 15px;
    border:1px solid #58D68D;
    
    background-color: transparent;
    letter-spacing:2px;
    
    padding:6px 12px;
    position:relative;
    overflow:hidden;
    box-shadow: 0 0 8px 0 rgba(17,22,26,.16), 0 4px 8px 0 rgba(17,22,26,.08), 0 8px 16px 0 rgba(17,22,26,.08);
  }
  .btn:hover {
    color:white;
    transition:0.1s;
  }
  .btn:focus {
    outline:none;
  }
  .btn::before {
    content:'';
    position: absolute;
    left:0;
    width:100%;
    height:0%;
    background:#58D68D ;
    z-index:-1;
    transition:1s;
    top:0;
    border-radius: 0 0 50% 50%;
  }
  .btn:hover::before {
    height:180%;
  }
  
    
   