<div class="back">

<img class="image3" src="/assets/images/images.png">

</div>

<div class=" Heading">  Search Hospital According to Your Need  </div>
 <div class="row ">
     <div class="col-lg-1"></div>
        
     <div class="col-lg-11">
            <app-diseases-item 
            *ngFor = " let Disease of Diseases"

               [Disease] = Disease                
            >


            </app-diseases-item>
          </div>

      

    
 </div>
 <div   class="search">
    
    <div class="row ">
        <div class="col-lg-5">

        </div>
        <div class="col-lg-2">
              
            <div class="width" (click) = "click()">
                   Location
            </div>
            <div [class.opacity] = "!show " class="index" >
            <div    *ngFor = "let Location of Locations  " class="location">
                 <div class="button" (click) = "locationHeading( Location.location)" >{{ Location.location}}</div  >
            </div>
            </div>
        </div>
         <div class="col-lg-5">
        
        </div>
    </div>
    </div>

 <div class=" Heading"> Hospitals  <span class="name"> {{disease}}   {{location}} </span> </div>



 






<div class="row left" >
       
    

    <app-hospital-item
     
    *ngFor="let item of  Hospitals  | slice:0:10, let i = index  " 
     
    [Hospital]=item
     [index] = i
    
    >

    </app-hospital-item>



</div>
