<div class="back">
<div class="height padding">


    <div class="row">

        <div  class=" col-sm-0 col-md-1 col-lg-2"></div>

        <div class="col-sm-6 col-md-5 col-lg-4 center">
         
            <img class="image" src ="/assets/images/doctor.svg">
     
        </div>
        
        
        
        <div class="col-sm-6 col-md-5 col-lg-4 ">
     
            <div class="para"> 
                
       
                   Hii! Arnav  Here Are Some Diseases Healps you to Search Your Preffered Hospital And Doctors
       
    
            </div>
     
        </div>

        <div  class=" col-sm-0 col-md-1 col-lg-2"></div>

     
      </div>

 <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

 <div class=""></div>

 <div class="row ">
     <div class=" col-lg-3 col-sm-1 ">



     </div>
     <div class="col-lg-7 col-sm-10 ">
         <div class="row">
        
            <app-diseases-item 
            *ngFor = " let Disease of Diseases"

               [Disease] = Disease                
            >


            </app-diseases-item>
          

           
         </div>
     </div>

     
     <div class=" col-lg-3 col-sm-1 ">

     </div>
 </div>


 



<div class="center heading">

    Hospitals Having  Facilities to Cure Diseases


</div>


<div class="row" >
       
    
          
    <app-hospital-item
     
    *ngFor="let item of  Hospitals, let i = index" 
     
    [Hospital]=item
     [index] = i
    
    >

    </app-hospital-item>

    <!-- <ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="Hospitals.length"></ngb-pagination> -->


</div>
</div>